.sign-up-form{
    position: relative;
    top: 40%;
    bottom: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: white;
    margin: 1% 30% 5% 30%;
    border-radius: 3%;
    opacity: 97%;
    
}

.form{
    margin-right: -50%;
}

#button{
    margin-right: 40%;
}